.l-footer {
    background-color: hsla(210, 21%, 93%, 0.5);
    display: flex;
    flex-direction: column;

    .logo {
        font-size: 4rem;
        margin: 40px 0px 5px 0px;
    }

    .l-footer__nav ul li {
        margin: 40px 0;
    }


    a {
        color: hsl(210, 10%, 33%);
        margin-bottom: 20px;
    }




}